<!DOCTYPE html>
<html>
    <head>
    <title>COMP90024 Project 2</title>
    </head>
    <body>
        <h1>COMP90024 Project 2</h1>
        <h2>Hello {{current_ip}}</h2>
        <p>
            Goal: harvest tweets and discover interesting scenarios about Australia
        </p>
        <ol>
            <li><a href="{{ url_for('scenario1') }}">Nightclub & Bar</a></li>
            <li><a href="{{ url_for('scenario2') }}">How many tweets mention <b>covid-19</b> or <b>coronavirus</b>? Are these clusterd in certain areas?</a></li>
            <li><a href="{{ url_for('scenario3') }}">How many tweets mention <b>covid-19</b>, <b>financial pressure</b> or <b>pressure</b>? Are these clusterd in certain areas?</a></li>
        </ol>

    </body>
</html>
