<!DOCTYPE html>
<html>
    <head>
        <title>Scenario 1 - {{region}}</title>
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-base.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-exports.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
    </head>
    <body>
        <h1><a href="{{url_for('index')}}">COMP90024 Project 2</a></h1>
        <h2><a href="{{url_for('scenario1')}}">Scenario 1</a> - {{region}}</h2>
        <p>
            {{results.tweets_count}} tweets about {{keywords}} have been collected
        </p>
        <div id="container" style="width: 50vw; height: 50vw"></div>
        <p>
            add analysis here
        </p>
        <script type="text/javascript">
            anychart.onDocumentReady(function () {
                var data = [];
                var population = {{results.population_data|tojson}};
                var total = population["total_population"];
                for (var key in population) {
                    if (key != "total_pupulation") {
                        var value = population[key] * total;
                        data.push({"x": key, "value": value});
                    }
                }
                // char setting
                var chart = anychart.fromJson({
                    "chart": {
                        "title": "Population Distribution",
                        "type": "column",
                        "xAxes": [{"title": "Age"}],
                        "yAxes": [{"title": "Population"}],
                        "yScale": {
                            "minimum": 0,
                            "maximum": 1000000
                        },
                        "series":[{
                            "data": data,
                        }],
                        "container": "container"
                    }
                });

            chart.draw();
            });
        </script>
    </body>
</html>
