<!DOCTYPE html>
<html>
    <head>
        <title>Scenario 2</title>
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-base.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-map.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
        <script src="https://cdn.anychart.com/geodata/2.0.0/countries/australia/australia.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    </head>
    <body>
        <h1 style="font-size:40px"><a href="{{url_for('index')}}">COMP90024 Project 2</a></h1>
        <h2 style="font-size:30px">Scenario 2</h2>
        <p id="p1" style="font-size:18px"></p>
        <div id="container1" style="width: 50vw; height: 80vh"></div>
        <div id="container2" style="width: 50vw; height: 40vh"></div>
        <p style="font-size:18px">
            The graphs above show the tweet distribution and the tweet to hospital ratio for each region in Australia.<br>
            The tweet to hospital ratio measures the number of tweets about {{keywords|tojson}} against the total number of hospitals of each regions.
        </p>
        <div id="container3"style="width: 90vw; height: 90vh"></div>
        <p style="font-size:18px">
            This bar chart demonstrates the hospital resource distribution across Australia.
        </p>
        <div id="container4"style="width: 90vw; height: 70vh"></div>
        <p style="font-size:18px">
            This bar chart tells us the ratio of public and private hospitals.
        </p>
        <div id="container5"style="width: 70vw; height: 70vh"></div>
        <p style="font-size:18px">
            This bar chart illustrates the mean income of each region in Australia.
        </p>
        <div id="container6"style="width: 70vw; height: 70vh"></div>
        <p style="font-size:18px">
            This bar chart illustrates the median income of each region in Australia.
        </p>

        <script type="text/javascript">
            anychart.onDocumentReady(function() {
                // ------------------------ get results ------------------------
                var results = {{results|tojson}};
                var regions = {{regions|tojson}};

                // ------------------------ container1 ------------------------
                var tweet_data = [];
                var ratio_data = [];
                var total_tweets = 0;
                var total_hospitals = 0;
                for (var region in results) {
                    var x, y1, y2;
                    if (region == "nsw") {
                        x = "AU.NS";
                    } else if (region == "qld") {
                        x = "AU.QL";
                    } else if (region == "sa") {
                        x = "AU.SA";
                    } else if (region == "tas") {
                        x = "AU.TS";
                    } else if (region == "vic") {
                        x ="AU.VI";
                    } else if (region == "wa") {
                        x = "AU.WA";
                    } else if (region == "act") {
                        x = "AU.CT";
                    } else if (region == "nt") {
                        x = "AU.NT";
                    } else {
                        console.log("No such region");
                        break;
                    }
                    y1 = results[region]["tweets_count"];
                    y2 = results[region]["tweets_count"] / results[region]["hospital_count"]["hospital total"];

                    total_tweets += results[region]["tweets_count"];
                    total_hospitals += results[region]["hospital_count"]["hospital total"];
                    tweet_data.push([x, y1]);
                    ratio_data.push([x, y2]);
                }

                var stage = anychart.graphics.create("container1");

                var map = anychart.map();
                map.geoData(anychart.maps.australia);
                map.title("Tweet Distribution in Australia");
                map.choropleth(tweet_data);
                map.bounds(0, 0, "100%", "70%");
                map.container(stage);
                map.draw();
                // ------------------------ container2 ------------------------
                var chart = anychart.column();
                chart.animation(true);
                var series = chart.column(ratio_data);
                chart.title("Ratio of Tweets to Hospitals");
                series.tooltip()
                    .position('center-top')
                    .anchor('center-bottom')
                    .offsetX(0)
                    .offsetY(5)
                chart.yScale().minimum(0);
                chart.tooltip().positionMode('point');
                chart.interactivity().hoverMode('by-x');
                chart.xAxis().title("Region");
                chart.yAxis().title("Tweets / Hospitals");
                chart.container("container2");
                chart.draw();
                // ------------------------ container3 ------------------------
                var rows = [];
                var region_names = {"nsw": "New South Wales", "qld": "Queensland",
                                    "sa": "South Australia", "tas": "Tasmania",
                                    "vic": "Victoria", "wa": "Western Australia",
                                    "act": "Australian Capital Territory",
                                    "nt": "Northern Territory"};
                var count_groups = ["<50 beds", "50-99 beds", "100-199 beds",
                                    "200-500 beds", ">500 beds"];
                var p_groups = ["public", "private"];
                for (var i = 0; i < count_groups.length; i++) {
                    var row = [count_groups[i]];
                    for (var j = 0; j < regions.length; j++) {
                        row.push(results[regions[j]]["hospital_count"]["hospitals("+count_groups[i]+")"]);
                    }
                    rows.push(row);
                }
                var header = ["#"];
                for (var i = 0; i < regions.length; i++) {
                    header.push(region_names[regions[i]]);
                }
                var count_data = {
                    title: "Hospital Resources",
                    header: header,
                    rows: rows
                };
                var chart = anychart.column();
                chart.data(count_data);
                chart.animation(true);
                chart.xAxis().title("Hospital");
                chart.yAxis().title("Number of Hospitals");
                chart.hovered().labels(false);
                chart.legend()
                  .enabled(true)
                  .fontSize(13)
                  .padding([0, 0, 20, 0]);
                  chart.interactivity().hoverMode('single');

                chart.tooltip()
                  .positionMode('point')
                  .position('center-top')
                  .anchor('center-bottom')
                  .offsetX(0)
                  .offsetY(5);
                chart.container('container3');
                chart.draw();
                // ------------------------ container4 ------------------------
                var p_data = [];
                for (i = 0; i < regions.length; i++) {
                    var row = [region_names[regions[i]]];
                    for (j = 0; j < p_groups.length; j++) {
                        row.push(results[regions[i]]["hospital_count"][p_groups[j]+" hospital"]);
                    }
                    p_data.push(row);
                }
                p_data = anychart.data.set(p_data);
                var firstSeriesData = p_data.mapAs({ x: 0, value: 1 });
                var secondSeriesData = p_data.mapAs({ x: 0, value: 2 });
                var chart = anychart.column();
                chart.animation(true);
                chart.yAxis().title("Percentage");
                chart.xAxis().title("Region");
                chart.yScale().stackMode("percent");
                chart.title("Distribution of Public and Private Hospitals");

                var setupSeries = function (series, name) {
                    series.name(name)
                    .stroke('2 #fff 1');
                    series.hovered().stroke('2 #fff 1');
                };
                var series;
                series = chart.column(firstSeriesData);
                setupSeries(series, 'Public');
                series = chart.column(secondSeriesData);
                setupSeries(series, 'Private');
                chart.interactivity().hoverMode('by-x');
                chart.tooltip()
                    .displayMode('union');
                chart.legend()
                    .enabled(true)
                    .fontSize(13);
                chart.container('container4');
                chart.draw();
                // ------------------------ container5 ------------------------
                var income_mean_data = [];
                var income_median_data = [];
                for (var i = 0; i < regions.length; i++) {
                    var row1 = [regions[i].toUpperCase()];
                    var row2 = [regions[i].toUpperCase()];
                    for (var key in results[regions[i]]["income"]) {
                        if (key.includes("mean")) {
                            if (key.includes("Greater")) {
                                row1[1] = results[regions[i]]["income"][key];
                            } else {
                                row1[2] = results[regions[i]]["income"][key];
                            }
                        }
                        if (key.includes("median")) {
                            if (key.includes("Greater")) {
                                row2[1] = results[regions[i]]["income"][key];
                            } else {
                                row2[2] = results[regions[i]]["income"][key];
                            }
                        }
                    }
                    income_mean_data.push(row1);
                    income_median_data.push(row2);
                }
                income_mean_data = anychart.data.set(income_mean_data);
                var firstSeriesData = income_mean_data.mapAs({ x: 0, value: 1 });
                var secondSeriesData = income_mean_data.mapAs({ x: 0, value: 2 });
                var chart = anychart.bar();
                chart.animation(true);
                chart.padding([10, 40, 5, 20]);
                chart.title('Mean Income across Australia');
                chart.yScale().minimum(0);
                chart.xAxis().labels().rotation(-90).padding([0, 0, 20, 0]);
                chart.yAxis().title('Income');

                var setupSeries = function (series, name) {
                    series.name(name);
                    series.hovered().labels(false);
                    series
                        .labels()
                        .enabled(true)
                        .position('right-center')
                        .anchor('left-center')
                    series
                    .tooltip()
                    .position('right')
                    .anchor('left-center')
                    .offsetX(5)
                    .offsetY(0)
                };
                var series;
                series = chart.bar(firstSeriesData);
                setupSeries(series, 'Greater City Mean Income');
                series = chart.bar(secondSeriesData);
                setupSeries(series, 'Rest of Region Mean Income');

                chart.legend().enabled(true).fontSize(13).padding([0, 0, 20, 0]);
                chart.interactivity().hoverMode('single');
                chart.tooltip().positionMode('point');
                chart.container('container5');
                chart.draw();
                // ------------------------ container6 ------------------------
                income_median_data = anychart.data.set(income_median_data);
                var firstSeriesData = income_median_data.mapAs({ x: 0, value: 1 });
                var secondSeriesData = income_median_data.mapAs({ x: 0, value: 2 });
                var chart = anychart.bar();
                chart.animation(true);
                chart.padding([10, 40, 5, 20]);
                chart.title('Median Income across Australia');
                chart.yScale().minimum(0);
                chart.xAxis().labels().rotation(-90).padding([0, 0, 20, 0]);
                chart.yAxis().title('Income');

                var setupSeries = function (series, name) {
                    series.name(name);
                    series.hovered().labels(false);
                    series
                        .labels()
                        .enabled(true)
                        .position('right-center')
                        .anchor('left-center')
                    series
                    .tooltip()
                    .position('right')
                    .anchor('left-center')
                    .offsetX(5)
                    .offsetY(0)
                };
                var series;
                series = chart.bar(firstSeriesData);
                setupSeries(series, 'Greater City Median Income');
                series = chart.bar(secondSeriesData);
                setupSeries(series, 'Rest of Region Median Income');

                chart.legend().enabled(true).fontSize(13).padding([0, 0, 20, 0]);
                chart.interactivity().hoverMode('single');
                chart.tooltip().positionMode('point');
                chart.container('container6');
                chart.draw();
                // ------------------------ innerHTML ------------------------
                document.getElementById("p1").innerHTML = total_tweets+" tweets about "+{{keywords|tojson}}+" have been collected.";
            });
        </script>
    </body>
</html>
