<!DOCTYPE html>
<html>
    <head>
        <title>Scenario 3</title>
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-base.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-map.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script src="https://cdn.anychart.com/releases/8.7.1/js/anychart-ui.min.js?hcode=a0c21fc77e1449cc86299c5faa067dc4"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
        <script src="https://cdn.anychart.com/geodata/2.0.0/countries/australia/australia.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
        <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
    </head>
    <body>
        <h1 style="font-size:40px"><a href="{{url_for('index')}}">COMP90024 Project 2</a></h1>
        <h2 style="font-size:30px">Scenario 3</h2>
        <p id="p1" style="font-size:18px"></p>
        <div id="container1" style="width: 50vw; height: 80vh"></div>
        <div id="container2" style="width: 50vw; height: 40vh"></div>
        <p>
            The graphs above show the tweet distribution and the tweet to low income households ratio for each region in Australia.<br>
            The tweet to low income households ratio measures the number of tweets about {{keywords|tojson}} against the total number of low income households of each region.
        </p>
        <div id="container3"style="width: 90vw; height: 90vh"></div>
        <p>(Click on the legend to select which region(s) to investigate)</p>
        <p style="font-size:18px">
            This bar chart illustrates the population of different age groups across Australia.
        </p>
        <script type="text/javascript">
            anychart.onDocumentReady(function() {
                // ------------------------ get results ------------------------
                var results = {{results|tojson}};
                var regions = {{regions|tojson}};
                // ------------------------ container1 ------------------------
                var tweet_data = [];
                var ratio_data = [];
                var total_tweets = 0;
                for (var region in results) {
                    var x, y1, y2;
                    if (region == "nsw") {
                        x = "AU.NS";
                    } else if (region == "qld") {
                        x = "AU.QL";
                    } else if (region == "sa") {
                        x = "AU.SA";
                    } else if (region == "tas") {
                        x = "AU.TS";
                    } else if (region == "vic") {
                        x ="AU.VI";
                    } else if (region == "wa") {
                        x = "AU.WA";
                    } else if (region == "act") {
                        x = "AU.CT";
                    } else if (region == "nt") {
                        x = "AU.NT";
                    } else {
                        console.log("No such region");
                        break;
                    }
                    y1 = results[region]["tweets_count"];
                    y2 = results[region]["tweets_count"] / results[region]["low_income_households"];

                    total_tweets += results[region]["tweets_count"];
                    tweet_data.push([x, y1]);
                    ratio_data.push([x, y2]);
                }

                var stage = anychart.graphics.create("container1");

                var map = anychart.map();
                map.geoData(anychart.maps.australia);
                map.title("Tweet Distribution in Australia");
                map.choropleth(tweet_data);
                map.bounds(0, 0, "100%", "70%");
                map.container(stage);
                map.draw();
                // ------------------------ container2 ------------------------
                var chart = anychart.column();
                chart.animation(true);
                var series = chart.column(ratio_data);
                chart.title("Ratio of Tweets to Low Income Households");
                series.tooltip()
                    .position('center-top')
                    .anchor('center-bottom')
                    .offsetX(0)
                    .offsetY(5)
                chart.yScale().minimum(0);
                chart.tooltip().positionMode('point');
                chart.interactivity().hoverMode('by-x');
                chart.xAxis().title("Region");
                chart.yAxis().title("Tweets / Low Income Households");
                chart.container("container2");
                chart.draw();
                // ------------------------ container3 ------------------------
                var rows = [];
                var age_groups = ["0-4", "5-9", "10-14", "15-19", "20-24",
                                  "25-29", "30-34", "35-39", "40-44", "45-49",
                                  "50-54", "55-59", "60-64", "65-69", "70-74",
                                  "75-79", "80-84", "over85"];
                var region_names = {"nsw": "New South Wales", "qld": "Queensland",
                                    "sa": "South Australia", "tas": "Tasmania",
                                    "vic": "Victoria", "wa": "Western Australia",
                                    "act": "Australian Capital Territory",
                                    "nt": "Northern Territory"};

                for (var i = 0; i < age_groups.length; i++) {
                    var row = [age_groups[i]];
                    for (var j = 0; j < regions.length; j++) {
                        row.push(results[regions[j]]["population"][age_groups[i]]);
                    }
                    rows.push(row);
                }
                var header = ["#"];
                for (var i = 0; i < regions.length; i++) {
                    header.push(region_names[regions[i]]);
                }
                var population_data = {
                    title: "Australia Population",
                    header: header,
                    rows: rows
                };
                var chart = anychart.column();
                chart.data(population_data);
                chart.animation(true);
                chart.xAxis().title("Age");
                chart.yAxis().title("Population");
                chart.hovered().labels(false);
                chart.legend()
                  .enabled(true)
                  .fontSize(13)
                  .padding([0, 0, 20, 0]);
                  chart.interactivity().hoverMode('single');

                chart.tooltip()
                  .positionMode('point')
                  .position('center-top')
                  .anchor('center-bottom')
                  .offsetX(0)
                  .offsetY(5);
                chart.container('container3');
                chart.draw();
                // ------------------------ innerHTML ------------------------
                document.getElementById("p1").innerHTML = total_tweets+" tweets about "+{{keywords|tojson}}+" have been collected.";
            });
        </script>
    </body>
</html>
